body {
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: .2s;
  transition: .2s;
}

.container .calendar {
  margin-top: 100px;
  position: relative;
  width: 400px;
  background-color: white;
  border-radius: 4px;
  color: black;
}

.container .calendar .month {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.container .calendar .month > i {
  font-size: 20px;
  cursor: pointer;
  color: gray;
}

.container .calendar .month .date > h1 {
  font-size: 25px;
}

.container .calendar .weekdays {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .calendar .weekdays > div {
  width: calc(380px / 7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.container .calendar .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 10px;
}

.container .calendar .days > div {
  width: calc((380px - 28px)/ 7);
  height: 50px;
  margin: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 4px;
  cursor: pointer;
}

.container .calendar .days > div:hover {
  background-color: aqua;
  color: white;
}

.container .calendar .date-picker {
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .calendar .date-picker .save:hover .saved-date {
  opacity: 1;
}

.container .calendar .date-picker > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.container .calendar .date-picker > div .saved-date {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: red;
  -webkit-transform: translateX(calc(100% + 2px));
          transform: translateX(calc(100% + 2px));
  background-color: white;
  opacity: 0;
  -webkit-transition: .1s;
  transition: .1s;
  pointer-events: none;
}

.container .calendar .date-picker > div > i {
  font-size: 20px;
  margin-right: 5px;
}

.container .calendar .date-picker > div > span {
  text-transform: uppercase;
}

.prev-date, .next-date {
  background-color: #d8d8d8;
  color: #a9a9a9;
}

.today {
  background-color: aqua;
}

.today-light {
  background-color: #00f8ff40;
}

.active {
  background: aqua;
}
/*# sourceMappingURL=style.css.map */